<h1>Main functioning page</h1>
Select the option that includes:
<mat-list  role="list">
  <mat-list-item role="listitem">Apply position for fresh man.</mat-list-item>
  <mat-list-item role="listitem"> Match Squad, Update Staff for manager.</mat-list-item>
  <mat-list-item role="listitem">Arrange Leave, Special Enquiry for every staff.</mat-list-item>
</mat-list>
<br>
<button mat-raised-button color="primary">Apply Position</button>
<button mat-raised-button color="primary">Match Squad</button>
<button mat-raised-button color="primary">Update Staff</button>
<button mat-raised-button color="primary">Arrange Leave</button>
<button mat-raised-button color="primary">Special Enquiry</button>

