<button mat-raised-button class="create_but" color="primary" [routerLink]="['/create_edit']">Create New Tickets</button>
<hr>
<div class="search-container">
  <mat-form-field appearance="fill">
    <mat-label>Search Tickets</mat-label>
    <input matInput (keyup)="searchTickets($event)" placeholder="Type 3 or more characters...">
  </mat-form-field>
</div>
<hr>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>#{{ ticket.Id }}</td>
      <td>{{ ticket.Name }}</td>
      <td>
        <button mat-raised-button color="accent" [routerLink]="['/create_edit', ticket.Id]">Edit</button>
        <button mat-raised-button color="primary" (click)="handleDelete(ticket.Id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
