<button mat-raised-button class="create_but" color="primary" [routerLink]="['/create_edit']">Create New Tickets</button>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>empty for align</th>
      <!-- Add other header columns as needed -->
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let ticket of tickets">
      <app-ticket
        [ticket]="ticket"
        (deleteRequest)="handleDelete($event)">
      </app-ticket>
    </ng-container>
  </tbody>
</table>
